---
import { getSession } from "auth-astro/server";
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
import Links from "../../components/Links.svelte";

const session = await getSession(Astro.request);
console.log(session);
if (!session) {
  return Astro.redirect("/");
}
---

<Layout noFooter={false} title="Astro Shortener - Dashboard">
  <main class="w-full h-full flex flex-col px-4 gap-8 py-6">
    <section>
      <h1 class="text-3xl text-center text-white">
        Hello {session?.user?.name}👋
      </h1>
    </section>

    <Links url={Astro.url.origin} client:load />

    <footer class="flex gap-2 justify-center">
      <Button id="signout">Sign out</Button>
      <a href="/add" aria-label="Add link">
        <Button id="addlink">Add Link</Button>
      </a>
    </footer>
  </main>
</Layout>

<script>
  let $signoutButton = document.querySelector("#signout");
  const { signOut } = await import("auth-astro/client");
  if ($signoutButton instanceof HTMLButtonElement) {
    $signoutButton.onclick = () => signOut();
  }
</script>
