---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="w-full h-full text-white flex flex-col items-center pt-12 gap-4 px-2"
  >
    <h1 class="text-5xl sm:text-6xl text-center">Astro shortener 🚀</h1>
    <h2 class="text-xl sm:text-2xl opacity-80 text-center">
      Shorten your links, made with Astro and Svelte
    </h2>
  </main>
</Layout>
