---
import Layout from "../layouts/Layout.astro";
import Links from "../components/Links.svelte";
---

<Layout title="Welcome to Astro.">
  <main class="w-full h-full">
    <h1 class="text-3xl">Astro</h1>
    <Links />
  </main>
</Layout>
