---
import GithubIcon from "./links/GithubIcon.astro";
import Button from "./Button.astro";
import LinkIcon from "./links/LinkIcon.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<nav class="flex justify-center h-16 border-zinc-800 border-b-2">
  <section
    class="flex flex-row items-center justify-between w-full md:px-44 sm:px-22 px-8 py-8"
  >
    <a
      aria-label="Go to this website's Github repository"
      href="/"
      class="bg-zinc-900 p-2 rounded"
    >
      <LinkIcon />
    </a>
    <ul class="flex flex-row items-center gap-8">
      {
        !session ? (
          <li>
            <Button id="sign-button">
              <GithubIcon />
              Sign In
            </Button>
          </li>
        ) : (
          <li>
            <a
              aria-label="Go to dashboard"
              class="text-white"
              href="/dashboard"
            >
              Dashboard
            </a>
          </li>
        )
      }

      <li class="flex flex-row items-center gap-2 text-white">
        <GithubIcon />
      </li>
    </ul>
  </section>
</nav>

<script>
  const { signIn } = await import("auth-astro/client");

  const $signButton = document.querySelector("#sign-button");
  if ($signButton instanceof HTMLButtonElement) {
    $signButton.onclick = () => signIn("github");
  }
</script>
