---
import GithubIcon from "./GithubIcon.astro";
import Button from "./Button.astro";
import LinkIcon from "./LinkIcon.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<nav class="flex justify-center h-12">
  <section
    class="flex flex-row items-center justify-between w-full gap-8 px-32 py-4"
  >
    <LinkIcon />
    <ul class="flex flex-row items-center gap-8">
      {
        !session ? (
          <li>
            <Button id="sign-button">
              <GithubIcon />
              Sign In with Github
            </Button>
          </li>
        ) : (
          <a class="text-white" href="/dashboard">
            Dashboard
          </a>
        )
      }

      <li class="flex flex-row items-center gap-2 text-white">
        <GithubIcon />
        Repository
      </li>
    </ul>
  </section>
</nav>

<script>
  const { signIn, signOut } = await import("auth-astro/client");

  const $signButton = document.querySelector("#sign-button");
  if ($signButton instanceof HTMLButtonElement) {
    $signButton.onclick = () => signIn("github");
  }
</script>
