---
interface Props {
  title: string;
}

import Navbar from "../components/Navbar.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta
      name="description"
      content="Astro Shortener - Shorten your links with custom slugs"
    />
    <meta
      name="keywords"
      content="shorten links, custom slugs, link shortener, URL shortener"
    />
    <meta name="author" content="Ticua" />

    <!-- Open Graph / Facebook -->

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://link.ticua.ar" />
    <meta
      property="og:title"
      content="Astro Shortener - Shorten Links with Custom Slugs"
    />
    <meta
      property="og:description"
      content="Astro Shortener allows you to shorten links with custom slugs, making sharing easier and more memorable."
    />
    <meta property="og:image:type" content="image/svg+xml" />
    <meta property="og:image" content="/favicon.svg" />

    <!-- Twitter -->
    <meta property="twitter:url" content="https://link.ticua.ar" />
    <meta
      property="twitter:title"
      content="Astro Shortener - Shorten Links with Custom Slugs"
    />
    <meta
      property="twitter:description"
      content="Astro Shortener allows you to shorten links with custom slugs, making sharing easier and more memorable."
    />

    <title>{title}</title>
  </head>
  <body class="bg-background">
    <Navbar />
    <slot />
  </body>
</html>
